.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 140px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background-color: #F5CB5C;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    color: #333533;
}
.nav-connect:hover{
    transform: scale(1.05);
    background: #E8EDDF;
    color: black;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.Anchor{
    text-decoration: none;
    color: white;
}